@use "variables";

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__liste {
    width: 23%;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__elem {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__image {
    border-radius: 10px;
  }
  &__title3 {
    font-size: 1.5rem;
    color: variables.$txt-color-principal;
  }
  &__title4 {
    font-size: 1.2rem;
    color: variables.$lighten-color;
  }
  i {
    color: variables.$lighten-color;
  }
}

@media screen and (max-width: 1200px) {
  .cards__liste {
    width: 33%;
  }
}

@media screen and (max-width: 960px) {
  .cards__liste {
    width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .cards__liste {
    width: 100%;
  }
}
