@use "variables";

.statistique {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: row;
  
    img {
      width: 33%;
    }
  
  }
  
  .statistique__text {
    width: 60%;
  
    h3 {
      margin-top: 5%;
      margin-bottom: 2%;
    }
  }
  
  .statistique__text--important {
    font-family: variables.$font-title;
    font-weight: 900;
    font-size: 150%;
    margin-bottom: -2%;
  }
  
  .statistique__text--flex {
    display: flex;
  }

  @media screen and (max-width: 500px) {
    .statistique {
        flex-direction: column;
    }
  }
