@use "sectionFormulaireMap";

/* Propriétés générales */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #f2e9e4;
  color: #060606;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

hr{
  width: 90%;
  max-width: 1200px;
  border: 1px solid #c9ada7; /* a remplacer par $color-skin*/
  margin: 20px auto;
}

//====== header et navigation principale ======//
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 2rem;
  font-size: 1.5rem;
}

.nav__ul {
  list-style-type: none;
  text-decoration: none;
}

.nav__ul,
.nav__liste {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
}

.nav__ul a {
  text-decoration: none;
  padding: 0.5rem 1.3rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.nav__ul a :hover {
  padding: 0.5rem 1.3rem;
  margin-right: 1rem;
  border-radius: 5px;
  transition: color 0.2s;
}

.header__logo {
  width: 25%;
}
.nav__logo:hover {
  opacity: 0.9;
}

//===== section 1 -carrousel =====//
.banniere {
  border: 1px solid #060606;
  //   width: 640px;
  //   overflow: auto;
  overflow: hidden;

  margin-bottom: 2rem;
}

.banniere__images {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  animation-duration: 30s;
  animation-name: carousselImages;
  height: 30vh;
  width: 100%;
  animation-iteration-count: infinite;
}

@keyframes carousselImages {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-1280px);
  }
  75% {
    transform: translateX(-1920px);
  }
  100% {
    transform: translateX(0px);
  }
}
// ===== fin banniere-carrousel =====//

// =========Section 2 Newsletter + À propos =========//
#section2 {
  font-style: 300;
}
.newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.flex-apropos {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem auto;

  &--bg{
    background-color: #c9ada7;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Shadows Into Light', cursive;
  }
 

  &__card{
    width: 100%;
    justify-content: space-between;
  }

  &__card--size {
    width: 32%; 
  }
}

.img__card {
  width: 15%;
  border-radius: 50%;
}

.btn{
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #383858;
  color: #f2e9e4;

  &:hover{
    background-color: #9a8c98;
  }
}

// =========Section 3 GRID ========//

// =========Section 4 Statistiques ========//

// =========Section 5 Cards ========//
.cards {
  display: flex;
}

// =========Section 6 MAP + formulaire ========//

// =========Footer==========//

i {
  padding-right: 1rem;
  color: #22223b;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 2rem;
  font-size: 2rem;
  text-decoration: underline;
}

.navFooter,
.navFooter__liste {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
}

.nav__logoFooter {
  text-align: center;
  margin-top: 1.8rem;
}

.reseauInfos {
  display: flex;
  justify-content: space-between;
}

.reseauInfos__mail,
.reseauInfos__img {
  vertical-align: middle;
}
