@use "variables";
@use "sectionCards";
@use "sectionFormulaireMap";

/* Propriétés générales */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");

$color-bg: #f2e9e4;
$color-text: #14141d;
$color-skin: #c9ada7;
$color-violet: #9a8c98;
$color-blue1: #4a4e69;
$color-blue2: #383858;
$color-blue3: #22223b;
$font-title: 'Mali',
cursive;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  background-color: $color-bg;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 500;
  color: $color-blue3;
}

h1 {
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

//====== header et navigation principale ======//
header {
  padding: 2rem;
  background-color: $color-skin;
  margin-bottom: 2rem;
}

.header__logo {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.logo {
  width: 15%;
}

.header__nav--flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  margin: 0 auto;

  & ul {
    list-style-type: none;
  }

  & ul::after {
    content: "";
    display: table;
    clear: both;
  }

  & ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
  }

  & li {
    display: inline-block;

    & a {
      display: block;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: $color-blue3;
      border-bottom: 2px solid transparent;
    }

    & a:hover {
      background-color: rgba(255, 255, 255, 0.20);
      border-bottom: 2px solid $color-violet;
      color: $color-blue1;
    }
  }
}


nav>ul li:hover .nav__ul--sous {
  display: block;
}

.nav__ul--sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: $color-bg;
  position: absolute;
  width: 100%;
  z-index: 1000;

  & li {
    float: none;
    width: 100%;
    text-align: left;
  }

  & a {
    padding: 0.5rem 1rem;
    border-bottom: none;
  }

  & a:hover {
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
    color: $color-blue1;
  }
}

.nav__li--deroulant a::after {
  content: " ▼";
  font-size: 0.8rem;
}

//===== section 1 -carrousel =====//
.banniere {
  border: 1px solid $color-text;
  //   width: 640px;
  //   overflow: auto;
  overflow: hidden;

  margin-bottom: 2rem;
}

.banniere__images {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  animation-duration: 30s;
  animation-name: carousselImages;
  height: 30vh;
  width: 100%;
  animation-iteration-count: infinite;
}

@keyframes carousselImages {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-640px);
  }

  50% {
    transform: translateX(-1280px);
  }

  75% {
    transform: translateX(-1920px);
  }

  100% {
    transform: translateX(0px);
  }
}

// ===== fin banniere-carrousel =====//

// =========Section 2 Newsletter + Gros texte important =========//

// =========Section 3 GRID ========//
#image-grid1 {
  grid-area: img1;
  width: 100%;
  margin: 10px 10px 10px 0px;
}

#image-grid2 {
  grid-area: img2;
  width: 100%;
  margin-bottom: -10px;
  margin: 10px 10px 10px 10px;
}

#image-grid3 {
  grid-area: img3;
  width: 100%;
  margin: 0px 10px 25px 10px;
}

#image-grid4 {
  grid-area: img4;
  width: 100%;
  margin: 0px 10px 10px 20px;
}

#image-grid5 {
  grid-area: img5;
  width: 100%;
  margin-bottom: -10px;
  margin: 10px 10px 10px 20px;
}

#image-grid6 {
  grid-area: img6;
  width: 100%;
  margin: 10px 10px 10px 30px;
}

.section-grid {
  display: grid;
  width: 97.5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . img2 img2 img2 img2 img2 img2 . . . ."
    "img1 img1 img1 img2 img2 img2 img2 img2 img2 img5 img5 . ."
    "img1 img1 img1 img2 img2 img2 img2 img2 img2 img5 img5 img6 img6"
    "img1 img1 img1 img3 img3 img4 img4 img4 img4 img4 img4 img6 img6"
    ". . . img3 img3 img4 img4 img4 img4 img4 img4 img6 img6"
    ". . . . . img4 img4 img4 img4 img4 img4 . .";
  text-align: center;
}

// =========Section 4 Statistiques ========//
.statistique {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;

  img {
    width: 33%;
  }

}

.statistique__text {
  width: 60%;

  h3 {
    margin-top: 5%;
    margin-bottom: 2%;
  }
}

.statistique__text--important {
  font-family: $font-title;
  font-weight: 900;
  font-size: 150%;
  margin-bottom: -2%;
}

.statistique__text--flex {
  display: flex;
}

.statistique__button {
  text-decoration: none;
  background-color: #f2e9e4;
  color: #14141d;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top:5%;
  border: 3px solid #14141d;

  &:hover {
    background-color: #14141d;
    color: #f2e9e4;
    border: 3px solid #22223b
  }
}

// =========Section 5 Cards ========//

// =========Section 6 MAP + formulaire ========//

// =========Footer==========//

i {
  padding-right: 1rem;
  color: $color-blue3;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 2rem;
  font-size: 2rem;
  text-decoration: underline;
}

.navFooter,
.navFooter__liste {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
}

.nav__logoFooter {
  text-align: center;
  margin-top: 1.8rem;
}

.reseauInfos {
  display: flex;
  justify-content: space-between;
}

.reseauInfos__mail,
.reseauInfos__img {
  vertical-align: middle;
}