@use 'variables';
@use 'header';
@use "sectionApropos";
@use "sectionCards";
@use "sectionFormulaireMap";
@use "sectionGrid";
@use "sectionStatistique";


/* Propriétés générales */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: variables.$color-bg;
  /* a remplacer par $color-bg*/
  color: variables.$color-text;
  /* a remplacer par $color-text*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-title;
  /* a remplacer par $font-title*/
  font-weight: 500;
  color: variables.$color-blue3
    /* a remplacer par $color-blue3*/
}

h1 {
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  width: 90%;
  max-width: 1200px;
  border: 1px solid variables.$color-skin;
  /* a remplacer par $color-skin*/
  margin: 20px auto;
}

.btn{
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: variables.$color-blue2; /* a remplacer par $color-blue2*/
  color: variables.$color-bg; /* a remplacer par $color-bg*/

  &:hover{
    background-color: variables.$color-violet; /* a remplacer par $color-violet*/
  }
}

.btn-stat{
  @extend .btn;
  margin: 0.5rem 0;
}

.btn-form {
  @extend .btn;
  // width: 30%;
  margin: 0 0 1rem 1.3rem;
  font-size: 1.5rem;

  &:hover{
    cursor: pointer;
  }
}


//====== header et navigation principale ======//
//voir sass\_header.scss


//===== contenu caché -  Texte meant only for screen readers =====//
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

//===== section 1 -carrousel =====//
.banniere {
  border: 2px solid variables.$color-violet;
  /* a remplacer par $color-violet*/
  //   width: 640px;
  //   overflow: auto;
  overflow: hidden;

  margin-bottom: 2rem;
}

.banniere__images {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  animation-duration: 10s;
  animation-name: carousselImages;
  height: 30vh;
  width: 100%;
  animation-iteration-count: infinite;
}

@keyframes carousselImages {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-40px);
  }

  50% {
    transform: translateX(-80px);
  }

  75% {
    transform: translateX(-160px);
  }

  100% {
    transform: translateX(0px);
  }
}

// ===== fin banniere-carrousel =====//

// =========Section 2 Newsletter + À propos =========//
// voir sass\_sectionApropos.scss

// =========Section 5 Cards ========//
.cards {
  display: flex;
}

// =========Section 6 MAP + formulaire ========//

// =========Footer==========//

.footer__nav{
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color : variables.$color-text;
    margin:2% 0% 2% 0%;
  }
}

.footer__logo {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.reseauInfos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  p {
    width: 450%;
  }
  
}

.footer--background {
  background-color: variables.$color-skin;
  padding: 3% 0% 3% 0%;
}


.reseauInfos__rejoindre--flex {
  display: flex;
  align-items: center;

  a {
    color: variables.$color-text;
    width: 8rem;
  }

}

.reseauInfos__rejoindre {
  display: flex;
  width: 29%;
}

.reseauInfos__sociaux {
  display: flex;
  justify-content: center;

  img {
    width: 10%;
    height: 50%;
    margin: 1%
  }
}

@media screen and (max-width: 1050px) {
  .reseauInfos__rejoindre {
    flex-direction: column;
  }
}